.App-header {
  font-size: xx-large;
  font-weight: 800;
  line-height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eff9f0;
}

body {
  background-color: #76a076;
}
a {
  color: #fee2ff;
}
.App-header {
  text-align: center;
  margin: 30px 0;
}
.footer-text {
  text-align: center;
  margin: 30px 0;
}
